﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="_03.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Registeration<br />
            Name<br />
&nbsp;<input runat="server" id="name" required />
            <br />
            Password<br />
            <input runat="server" id="password" />
            <br />
            Email<br />
            <input runat="server" id="email" />
            <br />
            Phone<br />
            <input runat="server" id="phone" /><br />
&nbsp;<asp:Button runat="server" ID="submit" Text="Submit" OnClick="submit_click" PostBackUrl="~/Result.aspx" />
        </div>
    </form>
</body>
</html>
