﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Result.aspx.cs" Inherits="_03.Result" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    Registered
    <div id="name" runat="server"></div>
    <div id="email" runat="server"></div>
    <div id="phone" runat="server"></div>
</body>
</html>
