﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Staff ID:
        <asp:DropDownList ID="staffIDs" runat="server" OnSelectedIndexChanged="staffID_SelectedIndexChanged" AutoPostBack="true">
        </asp:DropDownList>
            <br />
            Staff Detailes:
        <asp:Label ID="details" runat="server" Text="NA"></asp:Label>
            <br />
            City:
        <asp:DropDownList ID="cities" runat="server" AutoPostBack="true" OnSelectedIndexChanged="DropDownList2_SelectedIndexChanged">
            <asp:ListItem Text="Udupi" />
            <asp:ListItem Text="Mumbai" />
            <asp:ListItem Text="New Delhi" />
        </asp:DropDownList>
            <br />

            <asp:Label ID="Label1" runat="server" Text=""></asp:Label>

        </div>
    </form>
</body>
</html>
