﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Result.aspx.cs" Inherits="_02.Result" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <label id="label1" runat="server"></label>
            <br />
            <label id="label2" runat="server"></label>
            <br />
            <asp:Button ID="incr" Text="Increment" OnClick="incr_Click" runat="server" />
        </div>
    </form>
</body>
</html>
